.container {
    display: flex;
    align-items: center;
}
body{
    background-color: #5717a3;
}
h1 .tipos{
    color: #f09102;
}
#sexta{
    background-color: #f28d05;
}
p{
    color: #e5e4e9;
}
.estilo{
    width: 100%;
}
#titulo{
    color: #f09102;
    margin-inline-start: 150px;
}

body {
    margin-inline-start: 20px;
}
/*Navegação*/
*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:none;
border:1px solid #5717a3;
float:left;
}
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #5717a3;
    }
    .menu li a{color:#f09102; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#250946;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #250946;
-webkit-box-shadow:0 3px 10px 0 #250946;
text-shadow:0px 0px 5px #250946;
}
.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#250946;
    display:none;
    }
    .menu li:hover ul, .menu li.over ul{display:block;}
    .menu li ul li{
        border:1px solid #5717a3;
        display:block;
        width:150px;
        }
        /*inicio*/
        #inicio{
            margin-inline-start: -5px;
        }
        .bg{
            background-color: #f09102;
        }
        .coiso2{
            width: 100%;
        }
        .bg img {
            width: 100%;
        }
 /*BOTAO*/
 .u-border-2, .u-separator-2:after, .u-text.u-border-2, .u-link.u-border-2, a.u-button-style.u-border-2 {
    border-width: 2px;
}
.u-section-2 .u-btn-1 {
    border-style: solid;
    background-image: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 39px auto 75px 0;
}
.u-button-style.u-border-custom-color-1 {
    color: #f09102 !important;
    border-color: #373a36 !important;
    background-color: transparent !important;
}
.u-font-montserrat.u-custom-font {
    font-family: Montserrat, sans-serif !important;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header .u-btn, .u-gradient > .u-container-layout > .u-btn, .u-image:not(.u-shading) > .u-container-layout > .u-btn, .u-btn {
    background-color: #c67258;
    color: #ffffff;
}
.u-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-separator-custom-color-1:after, .u-border-custom-color-1 {
    border-color: #373a36;
}
[class*="u-border-"], .u-link[class*="u-border-"] {
    border-style: solid;
}
.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}
.u-btn {
    /* display: inline-block; */
    display: table;
    cursor: pointer;
    color: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header .u-link, .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header a, .u-gradient > .u-container-layout > .u-link, .u-gradient > .u-container-layout > a, .u-image:not(.u-shading) > .u-container-layout > .u-link, .u-image:not(.u-shading) > .u-container-layout > a, .u-link, a {
    color: #c67258;
}
.u-link, a {
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    color: #259bca;
    text-decoration: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.u-sheet:not(.u-image) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-sheet:not(.u-image) {
    pointer-events: none;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #f09102;
}
.u-body {
    color: #f09102;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
/*Fotos*/

#Fotos{
    display:flex ;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
 }

 #Fotos h2{
     margin-bottom: 20px;
 }

 #Fotos img{
     width: 100% ;
 }
 #nada{
     color: #f09102;
     font-family: arial, helvetica, sans-serif;
    font-size: 30px;
 }
 #insta{
    color: #f09102;
    font-family: arial, helvetica, sans-serif;
   font-size: 30px;
   text-align: center;
   align-items: center;
   margin-inline-start: 550px;
 }
 #acabou{
     width: 30px;
 }